body{

background:black;
color:#00ff9c;
font-family:monospace;
margin:0;

}

/* NAVBAR */

.navbar{

display:flex;
align-items:center;
justify-content:space-between;

padding:15px 40px;

border-bottom:1px solid #00ff9c;

}

.logo{

font-weight:bold;

}

.nav-links a{

margin-left:20px;
text-decoration:none;
color:#00ff9c;

}

.nav-links a:hover{

text-shadow:0 0 10px #00ff9c;

}

#searchBar{

background:black;
border:1px solid #00ff9c;

color:#00ff9c;

padding:6px 10px;

font-family:monospace;

}

/* HERO */

.hero{

display:flex;
justify-content:center;
align-items:center;

gap:40px;

padding:60px;

}

.profile{

width:140px;
height:140px;

border-radius:50%;

border:2px solid #00ff9c;

box-shadow:
0 0 10px #00ff9c,
0 0 20px #00ff9c;

}

.intro h1{

margin:0;
font-size:36px;

}

/* PROJECTS */

.projects-section{

padding:40px 80px;

}

.projects{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:25px;

margin-top:30px;

}

.project-card{

border:1px solid #00ff9c;

padding:20px;

text-decoration:none;

color:#00ff9c;

background:rgba(0,255,156,0.03);

transition:0.2s;

}

.card-header{

font-size:12px;
opacity:0.6;

margin-bottom:10px;

}

.card-title{

font-size:20px;
margin-bottom:10px;

}

.card-desc{

font-size:14px;
opacity:0.8;

}

.project-card:hover{

background:#00ff9c;

color:black;

transform:translateY(-5px);

box-shadow:
0 0 10px #00ff9c,
0 0 30px #00ff9c;

}
