body{

background:black;
color:#00ff9c;
font-family:monospace;
margin:0;

}

/* NAVBAR */

.navbar{

display:flex;
align-items:center;
justify-content:space-between;

padding:15px 40px;

border-bottom:1px solid #00ff9c;

}

.logo{

font-size:18px;
font-weight:bold;

}

.navbar a{

color:#00ff9c;
text-decoration:none;

}

#searchBar{

background:black;
border:1px solid #00ff9c;

color:#00ff9c;

padding:6px 10px;

font-family:monospace;

}

/* HERO */

.hero{

display:flex;
align-items:center;

gap:40px;

padding:60px;

}

.profile{

width:120px;
height:120px;

border-radius:50%;

border:2px solid #00ff9c;

box-shadow:
0 0 10px #00ff9c;

}

.intro h1{

margin:0;
font-size:36px;

}

/* PROJECTS */

.projects-section{

padding:40px 60px;

}

.projects{

display:flex;
flex-direction:column;
gap:20px;

margin-top:20px;

}

.project-link{

display:block;

padding:18px 20px;

border:1px solid #00ff9c;

border-radius:6px;

text-decoration:none;
color:#00ff9c;

font-size:18px;

background:rgba(0,255,156,0.03);

transition:0.2s;

}

.project-link span{

display:block;

font-size:14px;

opacity:0.7;

margin-top:6px;

}

.project-link:hover{

background:#00ff9c;
color:black;

box-shadow:
0 0 10px #00ff9c,
0 0 25px #00ff9c;

transform:translateX(5px);

}
