body{

background:#0b0f14;
color:#00ff9c;

font-family:monospace;

margin:0;

}

/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

padding:20px 60px;

border-bottom:1px solid #00ff9c;

background:#0b0f14;

}

.logo{

font-weight:bold;

}

.menu a{

margin-left:25px;

text-decoration:none;

color:#00ff9c;

}

.menu a:hover{

text-shadow:0 0 10px #00ff9c;

}

/* LAYOUT */

.container{

display:flex;

max-width:1400px;

margin:auto;

padding:40px;

}

/* SIDEBAR */

.sidebar{

width:260px;

margin-right:40px;

}

.profile{

width:120px;

height:120px;

border-radius:50%;

border:2px solid #00ff9c;

box-shadow:0 0 15px #00ff9c;

}

.bio{

margin-top:10px;

opacity:0.8;

}

.social a{

display:block;

margin-top:10px;

color:#00ff9c;

text-decoration:none;

}

/* CONTENT */

.content{

flex:1;

}

.post{

border:1px solid #00ff9c;

padding:20px;

margin-top:25px;

background:rgba(0,255,156,0.03);

transition:0.2s;

}

.post:hover{

box-shadow:0 0 20px #00ff9c;

transform:translateY(-3px);

}

.tags span{

border:1px solid #00ff9c;

padding:3px 8px;

margin-right:8px;

font-size:12px;

}
